* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.App {
  width: 550px;
}
.navbar {
  background-color: #f55a5a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar img {
  height: 30px;
  margin-right: 5px;
}
